In [5]:
# import dependencies
import pathlib as path
import numpy as np
import pandas as pd

In [6]:
# export csv into dataframe
df_cmarket = pd.read_csv("Resources/coffee-prices-historical-chart-data.csv")
df_cmarket.head()

        date   value
0  8/20/1973  0.6735
1  8/21/1973  0.6710
2  8/22/1973  0.6580
3  8/23/1973  0.6675
4  8/24/1973  0.6660

In [7]:
#find dtypes
df_cmarket.dtypes

date       object
 value    float64
dtype: object

In [11]:
# convert date to datetime
df_cmarket['date'] = pd.to_datetime(df_cmarket['date'])
df_cmarket

            date   value
0     1973-08-20  0.6735
1     1973-08-21  0.6710
2     1973-08-22  0.6580
3     1973-08-23  0.6675
4     1973-08-24  0.6660
...          ...     ...
12499 2023-06-01     NaN
12500 2023-06-02     NaN
12501 2023-06-03     NaN
12502 2023-06-04     NaN
12503 2023-06-05     NaN

[12504 rows x 2 columns]

In [10]:
#find dtypes
df_cmarket.dtypes

date      datetime64[ns]
 value           float64
dtype: object

In [17]:
#greater than the start date and smaller than the end date
mask = (df_cmarket['date'] > '2009-12-31') & (df_cmarket['date'] <= '2019-12-31')

In [18]:
df_10_years = df_cmarket.loc[mask]
df_10_years

            date   value
9091  2010-01-04  1.4185
9092  2010-01-05  1.4100
9093  2010-01-06  1.4160
9094  2010-01-07  1.4190
9095  2010-01-08  1.4535
...          ...     ...
11610 2019-12-24  1.2940
11611 2019-12-26  1.2730
11612 2019-12-27  1.3250
11613 2019-12-30  1.3215
11614 2019-12-31  1.2970

[2524 rows x 2 columns]

In [24]:
# df_10_years.groupby(df_10_years.date.dt.year)['value'].transform('mean')
# df_new = df_10_years.groupby([df_10_years.index.date, df.index.value]).mean()
df_10_years.groupby([df_10_years['ds'].dt.strftime('%Y'),df['ds'].dt.strftime('%B')]).mean()

AttributeError: 'Int64Index' object has no attribute 'date'